{{ form_start(form) }}
<div class="blockTitles">
<div>
    <div>
        {{ form_label(form.articleTitle) }}
    </div>
    {{ form_widget(form.articleTitle) }}
    <div class="formHelper">
        {{ form_help(form.articleTitle) }}
    </div>
</div>
<div>
    <div>
        {{ form_label(form.homeTitle) }}
    </div>
    {{ form_widget(form.homeTitle) }}
    <div class="formHelper">
        {{ form_help(form.homeTitle) }}
    </div>
</div>
</div>
<div>
    <div>
        {{ form_label(form.homePreview) }}
    </div>
    {{ form_widget(form.homePreview) }}
    <div class="formHelper">
        {{ form_help(form.homePreview) }}
    </div>
</div>
<div>
    <div>
        {{ form_label(form.description) }}
    </div>
    {{ form_widget(form.description) }}
    <div class="formHelper">
        {{ form_help(form.description) }}
    </div>
</div>
<div>
    <div>
        {{ form_label(form.introduction) }}
    </div>
    {{ form_widget(form.introduction) }}
    <div class="formHelper">
        {{ form_help(form.introduction) }}
    </div>
</div>
<div>
    <div>
        {{ form_label(form.detail) }}
    </div>
    {{ form_widget(form.detail) }}
    <div class="formHelper">
        {{ form_help(form.detail) }}
    </div>
</div>
<div class="blockSelect">
<div>
    <div>
        {{ form_label(form.status) }}
    </div>
    {{ form_widget(form.status) }}
    <div class="formHelper">
        {{ form_help(form.status) }}
    </div>
</div>
<div>
    <div>
        {{ form_label(form.author) }}
    </div>
    {{ form_widget(form.author) }}
    <div class="formHelper">
        {{ form_help(form.author) }}
    </div>
</div>
<div>
    <div>
        {{ form_label(form.category) }}
    </div>
    {{ form_widget(form.category) }}
    <div class="formHelper">
        {{ form_help(form.category) }}
    </div>
</div>
<div>
    <div>
        {{ form_label(form.imgSrc) }}
    </div>
    {{ form_widget(form.imgSrc) }}
    <div class="formHelper">
        {{ form_help(form.imgSrc) }}
    </div>
</div>
</div>
<div class="buttons">
    <div>
        <input class="formValidate" type="button" value="Valider">
    </div>
    <section class="modalMain">
        <div class="modalMainContent">
            <p class="pConfirmation"></p>
            <div class="modalMainButtons">
                <input type="submit" id="validateForm" value="Confirmer" class="globalButton modalMainButton"/>
                <button type="button" class="globalButton modalNoButton" id="cancelForm">Annuler</button>
            </div>
        </div>
    </section>
    <button type="button" class="formCancel">Annuler</button>
</div>
{#<button class="btn">{{ button_label|default('Enregistrer') }}</button>#}
{{ form_end(form) }}
