<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="icon" type="image/png" href="{{ asset('build/images/components/logo_fav.svg') }}"/>
        <title>
            {% block title %}Admin - Blog-e-Boulga{% endblock %}
        </title>
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {{ encore_entry_link_tags('app') }}
        {{ encore_entry_script_tags('app') }}

        {% block stylesheets %}{% endblock %}

        {% block javascripts %}{% endblock %}
    </head>
    <body id="body">
        {% include 'admin/components/_header_admin.html.twig' %}

        {% for label, messages in app.session.flashbag.all %}
            {% for message in messages %}
                {% if (label == 'success') %}
                    <div class="alert-success">
                        {{ message }}
                    </div>
                {% elseif (label == 'error') %}
                    <div class="alert-error">
                        {{ message }}
                    </div>
                {% endif %}
            {% endfor %}
        {% endfor %}
        {% block body %}{% endblock %}
    </body>
</html>
