{% extends 'admin/base_admin.html.twig' %}

{% block title %}Category index{% endblock %}
{% block stylesheets %}{{ encore_entry_link_tags('admin_category') }}{% endblock %}

{% block javascripts %}{{ encore_entry_script_tags('admin_category') }}{% endblock %}

{% block body %}
    <main>
    <h1>Liste des catégories</h1>

    <table class="table">
        <thead>
            <tr>
                <th>CategoryName</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for category in categories %}
            <tr>
                <td>{{ category.categoryName }}</td>
                <td>
                    <a href="{{ path('app_category_edit', {'id': category.id}) }}">Édition</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">Pas de résultat</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <a class="newCat" href="{{ path('app_category_new') }}">Nouvelle catégorie</a>
    </main>
{% endblock %}
