{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - Contact{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('contact_us') }}
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('contact_us') }}
{% endblock %}

{% block body %}
<main>
    <div id="mainPage">
        <div id="rightSide">
            <div id="informationSocietyBlock">
                <section id="informationSociety">
                    <h1>Contactez-nous</h1>
                    <img src="{{ asset('build/images/components/blog-e-boulga-small-logo-black.svg') }}" alt="small logo black">
                    <address>
                        <p>Blog-e-boulga Inc.</p>
                        <p>15 rue de la truffe <br />12345 Chat-City WORLD</p>
                        <p>Tel: 0123456789</p>
                        <p>Envoyez nous un mail:</p>
                        <p>contact@blogeboulga.com</p>
                    </address>
                </section>
            </div>
        </div>

        <div id="contactUsBlock">
            {{ form_start(form, {'attr': { 'class': 'contactUsForm', 'novalidate': 'novalidate' }}) }}
                <h2 id="header-form">Contacter l’équipe e-Boulga</h2>
                {{ form_label(form.firstName) }}
                {{ form_widget(form.firstName) }}
                <div class="errors-w">
                    {{ form_errors(form.firstName) }}
                </div>
                {{ form_label(form.lastName) }}
                {{ form_widget(form.lastName) }}
                <div class="errors-w">
                    {{ form_errors(form.lastName) }}
                </div>
                {{ form_label(form.emailAddress) }}
                {{ form_widget(form.emailAddress) }}
                <div class="errors-w">
                    {{ form_errors(form.emailAddress) }}
                </div>
                {{ form_label(form.topic) }}
                {{ form_widget(form.topic) }}
                <div class="errors-w">
                    {{ form_errors(form.topic) }}
                </div>
                {{ form_label(form.messageContent) }}
                {{ form_widget(form.messageContent) }}
                <div class="errors-w">
                    {{ form_errors(form.messageContent) }}
                </div>
                <div id="validationCheck">
                    {{ form_widget(form.terms) }}
                    <label class="labelMod" for="contact_us_terms">En cochant cette case, vous acceptez nos <a class="terms-link" href='#'>modalités et conditions</a> d'utilisation ainsi que notre <a class="terms-link" href='#'>politique de confidentitalité</a> pour la gestion des données fournies dans ce formulaire.</label>
                </div>
                <div id="validationButton">
                    <button class="btn" id="btn_submit">{{ button_label|default('Envoyer') }}</button>
                </div>
                {% for message in app.flashes('success') %}
                    <div class="alert-success">
                        {{ message }}
                    </div>
                {% endfor %}
            {{ form_end(form) }}
        </div>
    </div>
</main>
{% endblock %}
